
/*
  Button code obtained at dabuttonfactory.com
*/


body { 
    background: #ffffff; 
    font:          normal 700 29px/1 "Calibri", sans-serif;
    font-size: 2.5vh;
    color: #073763;
}


/*
Bodyinput { background: #ffffff; font-family: Verdana, sans-serif; font-size: 11pt; }
*/

#page { background: #ffffff; margin: 50px; border: 2px solid #c0c0c0; padding: 10px; }
#header { background: #4b6983; border: 2px solid #7590ae; text-align: center; padding: 10px; color: #ffffff; }
#header h1 { color: #ffffff; }
#body { padding: 10px; }
span.tt { font-family: monospace; }
span.bold { font-weight: bold; }
a:link { text-decoration: none; font-weight: bold; color: #C00; background: #ffc; }
a:visited { text-decoration: none; font-weight: bold; color: #999; background: #ffc; }
a:active { text-decoration: none; font-weight: bold; color: #F00; background: #FC0; }
a:hover { text-decoration: none; color: #C00; background: #FC0; }

#redbutton {
position:       absolute;
left:           2.5vw;
width:          95vw;
top:            0vh;   /* Dummy, overriden by code */
height:         20vh;   /* Dummy, overriden by code */

display:       inline-block;
background:    #900 url('http://dabuttonfactory.com/button.png?w=1&h=40&bgt=gradient&bgc=f00&ebgc=900') repeat-x;
background:    -moz-linear-gradient(#f00, #900);
background:    -o-linear-gradient(#f00, #900);
background:    -webkit-linear-gradient(#f00, #900);
background:    linear-gradient(#f00, #900);
border-radius: 0px;
color:         #fff;
font:          normal 700 29px/1 "Calibri", sans-serif;
font-size:     4vh;
text-align:    center;
text-shadow:   1px 1px 0 #000;
}

#greenbutton {
position:       absolute;
left:           2.5vw;
width:          95vw;
top:            0vh;   /* Dummy, overriden by code */
height:         20vh;   /* Dummy, overriden by code */


display:       inline-block;
background:    #38761d url('http://dabuttonfactory.com/button.png?w=1&h=163&bgt=gradient&bgc=23ca23&ebgc=38761d') repeat-x;
background:    -moz-linear-gradient(#23ca23, #38761d);
background:    -o-linear-gradient(#23ca23, #38761d);
background:    -webkit-linear-gradient(#23ca23, #38761d);
background:    linear-gradient(#23ca23, #38761d);
border-radius: 0px;
color:         #fff;
font:          normal 700 29px/1 "Calibri", sans-serif;
font-size:     4vh;
text-align:    center;
text-shadow:   1px 1px 0 #000;
}

#graybutton {
position:       absolute;
left:           2.5vw;
width:          95vw;
top:            0vh;   /* Dummy, overriden by code */
height:         20vh;   /* Dummy, overriden by code */


display:       inline-block;
background:    #cacaca url('http://dabuttonfactory.com/button.png?w=1&h=163&bgt=gradient&bgc=23ca23&ebgc=38761d') repeat-x;
background:    -moz-linear-gradient(#cacaca, #767676);
background:    -o-linear-gradient(#cacaca, #767676);
background:    -webkit-linear-gradient(#cacaca, #767676);
background:    linear-gradient(#cacaca, #767676);
border-radius: 0px;
color:         #fff;
font:          normal 700 29px/1 "Calibri", sans-serif;
font-size:     4vh;
text-align:    center;
text-shadow:   1px 1px 0 #000;
}


.counter{
font:          normal 700 29px/1 "Calibri", sans-serif;
font-size:     3vh;
color:         #fff;
position:      absolute;
right:         5vw;
text-align:    right;

}


.next{
font:          normal 700 29px/1 "Calibri", sans-serif;
font-size:     2.1vh;
color:         #fff;
position:      absolute;
left:          5vw;
text-align:    left;
}

#inputName{
    background: #ffffff; 
    font:          normal 700 29px/1 "Calibri", sans-serif;
    font-size: 4vh;
    color: #073763;
    text-align: center;
    border: none;
}

#sceneName{
    background: #ffffff; 
    font:          normal 700 29px/1 "Calibri", sans-serif;
    font-size: 4vh;
    color: #073763;
    text-align: center;
    border: none;
}


#mayEdit{
    background: #ffffff; 
    font:          normal 700 29px/1 "Calibri", sans-serif;
    font-style: italic;
    font-size: 2vh;
    color: #979797;
    text-align: center;
    border: none;
}



/*
 Timer buttons in main page.
*/
#countDownButton{
    position: absolute;
    left: calc(5vw + 8vh);
    top: 2vw;
    width:8vh;
    height:8vh;
    outline:none;
    border: none;
    background-color: Transparent;

/*  UPDATE THE PATH below to match the image directory  */
    background-image:url("../img/countDown_simple.png");
    background-size: 5vh 5vh;
    background-repeat: no-repeat;

   text-indent:     -9999px;

}

#clockButton{
    position: absolute;
    left: 5vw;
    top: 2vw;
    width:8vh;
    height:8vh;
    outline:none;
    border: none; 
    background-color: Transparent;

/*  UPDATE THE PATH below to match the image directory  */
    background-image:url("../img/clock_simple.png");
    background-size: 5vh 5vh;
    background-repeat: no-repeat;

    text-indent:     -9999px;
}

#warningButton{
    position: absolute;
    left: calc(5vw + 16vh);
    top: 2vw;
    width:8vh;
    height:8vh;
    outline:none;
    border: none; 
    background-color: Transparent;

/*  UPDATE THE PATH below to match the image directory  */
    background-image:url("../img/warning.png");
    background-size: 5vh 5vh;
    background-repeat: no-repeat;

    text-indent:     -9999px;
}


/*
Find/refresh button in main page
*/
#findButton{
    position: absolute;
    right: 4vw;
    top: 2vw;
    width:8vh;
    height:8vh;
    outline:none;
    border: none; 
    background-color: Transparent;

/*  UPDATE THE PATH below to match the image directory  */
    background-image:url("../img/find_simple.png");
    background-size: 5vh 5vh;
    background-repeat: no-repeat;
    text-indent:     -9999px;
}

/*
Scene button in main page
*/

#sceneButton{
    position: absolute;
    right: calc(4vw + 8vh);
    top: 2vw;
    width:8vh;
    height:8vh;
    outline:none;
    border: none; 
    background-color: Transparent;

/*  UPDATE THE PATH below to match the image directory  */
    background-image:url("../img/multimedia.png");
    background-size: 5vh 5vh;
    background-repeat: no-repeat;
    text-indent:     -9999px;
}



/*
  Clock button in the count down timer page
*/
#menuButton{
    position: absolute;
    right: 3vh;
    top: 2vh;

    width:5vh;
    height:5vh;
    outline:none;
    border: none;
    background-color: Transparent;

/*  UPDATE THE PATH below to match the image directory */
    background-image:url("../img/clock_simple.png");

    background-size: contain;
    text-indent:-9999px;		
    border: none;
}

#setupButton{
    position: absolute;
    right: 9vh;
    top: 1.7vh;

    width:6vh;
    height:6vh;
    outline:none;
    border: none;
    background-color: Transparent;

/*  UPDATE THE PATH below to match the image directory */
    background-image:url("../img/setup_simple.png");

    background-size: contain;
    text-indent:-9999px;		
    border: none;
}


/*
  Back button in the count down timer page
*/
#backButton{
    position: absolute;
    left: 3vh;
    top: 2vh;

    width:5vh;
    height:5vh;

    outline:none;
    border: none;
    background-color: Transparent;

    /*  UPDATE THE PATH below to match the image directory */
    background-image:url("../img/back_icon_simple.png");
    background-size:contain;
    text-indent:-9999px;		
    border: none;
}

/*
  Blue (large) buttons in the countdown timer page
*/
#timerPageButton{
    height: 10vh;
    width: 60vw;
    display:       inline-block;
    padding:       8px 27px;
    background:    #073763 url('http://dabuttonfactory.com/button.png?w=1&h=43&bgt=gradient&bgc=3d85c6&ebgc=073763') repeat-x;
    background:    -moz-linear-gradient(#3d85c6, #073763);
    background:    -o-linear-gradient(#3d85c6, #073763);
    background:    -webkit-linear-gradient(#3d85c6, #073763);
    background:    linear-gradient(#3d85c6, #073763);
    border-radius: 5px;
    color:         #fff;
    font:          normal 700 29px/1 "Calibri", sans-serif;
    font-size:     2.5vh;
    text-align:    center;
    text-shadow:   1px 1px 0 #000;
}

#doneButton{
    height: 5vh;
    width: 35vw;
    display:       inline-block;
    padding:       8px 27px;
    background:    #073763 url('http://dabuttonfactory.com/button.png?w=1&h=43&bgt=gradient&bgc=3d85c6&ebgc=073763') repeat-x;
    background:    -moz-linear-gradient(#3d85c6, #073763);
    background:    -o-linear-gradient(#3d85c6, #073763);
    background:    -webkit-linear-gradient(#3d85c6, #073763);
    background:    linear-gradient(#3d85c6, #073763);
    border-radius: 5px;
    color:         #fff;
    font:          normal 700 29px/1 "Calibri", sans-serif;
    font-size:     2.5vh;
    text-align:    center;
    text-shadow:   1px 1px 0 #000;
}

#syncButton{
    height: 5vh;
    width: 35vw;
    display:       inline-block;
    padding:       8px 27px;
    background:    #073763 url('http://dabuttonfactory.com/button.png?w=1&h=43&bgt=gradient&bgc=3d85c6&ebgc=073763') repeat-x;
    background:    -moz-linear-gradient(#3d85c6, #073763);
    background:    -o-linear-gradient(#3d85c6, #073763);
    background:    -webkit-linear-gradient(#3d85c6, #073763);
    background:    linear-gradient(#3d85c6, #073763);
    border-radius: 5px;
    color:         #fff;
    font:          normal 700 29px/1 "Calibri", sans-serif;
    font-size:     2.5vh;
    text-align:    center;
    text-shadow:   1px 1px 0 #000;
}


#deleteButton{
    height: 5vh;
    width: 35vw;
    display:       inline-block;
    padding:       8px 27px;
    background:    #073763 url('http://dabuttonfactory.com/button.png?w=1&h=43&bgt=gradient&bgc=3d85c6&ebgc=073763') repeat-x;
    background:    -moz-linear-gradient(#f00, #900);
    background:    -o-linear-gradient(#f00, #900);
    background:    -webkit-linear-gradient(#f00, #900);
    background:    linear-gradient(#f00, #900);
    border-radius: 5px;
    color:         #fff;
    font:          normal 700 29px/1 "Calibri", sans-serif;
    font-size:     2.5vh;
    text-align:    center;
    text-shadow:   1px 1px 0 #000;
}

#cancelButton{
    height: 5vh;
    width: 35vw;
    display:       inline-block;
    padding:       8px 27px;
    background:    #073763 url('http://dabuttonfactory.com/button.png?w=1&h=43&bgt=gradient&bgc=3d85c6&ebgc=073763') repeat-x;
    background:    -moz-linear-gradient(#3d85c6, #073763);
    background:    -o-linear-gradient(#3d85c6, #073763);
    background:    -webkit-linear-gradient(#3d85c6, #073763);
    background:    linear-gradient(#3d85c6, #073763);
    border-radius: 5px;
    color:         #fff;
    font:          normal 700 29px/1 "Calibri", sans-serif;
    font-size:     2.5vh;
    text-align:    center;
    text-shadow:   1px 1px 0 #000;
}


input[type=checkbox]:not(old),
input[type=radio   ]:not(old){
  width     : 2em;
  margin    : 0;
  padding   : 0;
  font-size : 1em;
  opacity   : 0;
}
<
input[type=checkbox]:not(old) + label,
input[type=radio   ]:not(old) + label{
  display      : inline-block;
  margin-left  : -2em;
  line-height  : 1.5em;
}

input[type=checkbox]:not(old) + label > span,
input[type=radio   ]:not(old) + label > span{
  display          : inline-block;
  width            : 0.875em;
  height           : 0.875em;
  margin           : 0.25em 0.5em 0.25em 0.25em;
  border           : 0.0625em solid rgb(192,192,192);
  border-radius    : 0.25em;
  background       : rgb(224,224,224);
  background-image :    -moz-linear-gradient(rgb(240,240,240),rgb(224,224,224));
  background-image :     -ms-linear-gradient(rgb(240,240,240),rgb(224,224,224));
  background-image :      -o-linear-gradient(rgb(240,240,240),rgb(224,224,224));
  background-image : -webkit-linear-gradient(rgb(240,240,240),rgb(224,224,224));
  background-image :         linear-gradient(rgb(240,240,240),rgb(224,224,224));
  vertical-align   : bottom;
}

input[type=checkbox]:not(old):checked + label > span,
input[type=radio   ]:not(old):checked + label > span{
  background-image :    -moz-linear-gradient(rgb(224,224,224),rgb(240,240,240));
  background-image :     -ms-linear-gradient(rgb(224,224,224),rgb(240,240,240));
  background-image :      -o-linear-gradient(rgb(224,224,224),rgb(240,240,240));
  background-image : -webkit-linear-gradient(rgb(224,224,224),rgb(240,240,240));
  background-image :         linear-gradient(rgb(224,224,224),rgb(240,240,240));
}

input[type=checkbox]:not(old):checked + label > span:before{
  content     : '✓';
  display     : block;
  width       : 1em;
  height      : 1em;
  color       : rgb(7,55,99);
  font-size   : 0.875em;
  line-height : 1em;
  text-align  : center;
  text-shadow : 0 0 0.0714em rgb(115,153,77);
  font-weight : bold;
}

input[type=radio]:not(old):checked +  label > span > span{
  display          : block;
  width            : 0.5em;
  height           : 0.5em;
  margin           : 0.125em;
  border           : 0.0625em solid rgb(115,153,77);
  border-radius    : 0.125em;
  background       : rgb(7,55,99);
  background-image :    -moz-linear-gradient(#3d85c6, #073763);
  background-image :     -ms-linear-gradient(#3d85c6, #073763);
  background-image :      -o-linear-gradient(#3d85c6, #073763);
  background-image : -webkit-linear-gradient(#3d85c6, #073763);
  background-image :         linear-gradient(#3d85c6, #073763);
}

/*
  Select: selector for hours, min, seconds 
*/
select {
    font:          normal 700 29px/1 "Calibri", sans-serif;
    font-size: 2.5vh;
    color: #073763;
}

/*
 The classes below are used in the countdown timer page to
 place and align the elements
*/

.details {
    display: table;
    width: 95vw;
    position: relative;
    left: 2.5vw;
}
.row  {
    display: table-row;
    height: 6vh;
    vertical-align: middle;
}
.hour {
    display: table-cell;
    width: 12vw;
    text-align: center;
}

.editCol {
    display: table-cell;
    width: 8vw;
    text-align: center;
}

.onoff {
    display: table-cell;
    width: 12vw; 
    text-align: center;
}

.daysOfWeek {
    display: table-cell;
    width: 50vw;
    text-align: left;
}


.delCol {
    display: table-cell;
    width: 8vw;
    text-align: center;
}



/*
  Edit button in timer details page
*/

#editButton{
    width:3vh;
    height:3vh;

    background:    -moz-linear-gradient(#3d85c6, #073763);
    background:    -o-linear-gradient(#3d85c6, #073763);
    background:    -webkit-linear-gradient(#3d85c6, #073763);
    background:    linear-gradient(#3d85c6, #073763);

    /*  UPDATE THE PATH below to match the image directory */
    background-image:url("../img/edit_icon128px_green.png");
    background-size:3vh 3vh;
    text-indent:-9999px;		
    border: none;
    vertical-align: middle;
}

#delButton{
    width:3vh;
    height:3vh;

    background:    -moz-linear-gradient(#3d85c6, #073763);
    background:    -o-linear-gradient(#3d85c6, #073763);
    background:    -webkit-linear-gradient(#3d85c6, #073763);
    background:    linear-gradient(#3d85c6, #073763);

    /*  UPDATE THE PATH below to match the image directory */
    background-image:url("../img/cross_icon_red100.png");
    background-size:3vh 3vh;
    text-indent:-9999px;		
    border: none;
    vertical-align: middle;
}

#addButton{
    position: absolute;
    right: 3vh;
    top: 2vh;

    width:5vh;
    height:5vh;
    outline:none;
    border: none;
    background-color: Transparent;

/*  UPDATE THE PATH below to match the image directory */
    background-image:url("../img/add_icon_simple.png");
    background-size: contain;
    text-indent:-9999px;		
    border: none;


}






/*
  Morebutton in the countdown page
*/
#moreButton{
    position: absolute;
    left: 2vh;
    top: 2vh;

    width:5vh;
    height:5vh;

    background:    -moz-linear-gradient(#3d85c6, #073763);
    background:    -o-linear-gradient(#3d85c6, #073763);
    background:    -webkit-linear-gradient(#3d85c6, #073763);
    background:    linear-gradient(#3d85c6, #073763);

/*  UPDATE THE PATH below to match the image directory */
    background-image:url("../img/menu_icon128px20pc.png");
    background-size:5vh 5vh;
    text-indent:-9999px;		
    border: none;
}

/*
 The classes below are used in the edit timer details page
 to align days of the week and ceckboxs
*/

.editDetail {
    display: table;
    width: 95vw;
    position: relative;
    left: 2.5vw;
}
.rowDetail  {
    display: table-row;
    height: 1.7em;
    vertical-align: middle;
}
.weekDayCol {
    display: table-cell;
    width: 50vw;
    text-align: right;
}

.checkBoxCol {
    display: table-cell;
    width: 45vw;
    text-align: left;
}

/*
 The classes below are used in the scene list  page
*/

.scene {
    display: table;
    width: 90vw;
    position: relative;
    left: 5vw;
}

.rowScene {
    display: table-row;
    height: 8vh;
    vertical-align: middle;
}

.buttonSceneCol{
    display: table-cell;
    width: 50vw;
    text-align: center;
}

.editSceneCol {
    display: table-cell;
    width: 20vw;
    text-align: center;
}

.delSceneCol {
    display: table-cell;
    width: 20vw;
    text-align: center;
}

/*
 The classes below are used in the scene edit  page
*/

.sceneEdit {
    display: table;
    width: 95vw;
    position: relative;
    left: 2.5vw;
}

.rowSceneEdit {
    display: table-row;
    height: 8vh;
    vertical-align: middle;
}

.sceneEditNameCol{
    display: table-cell;
    width: 30vw;
    text-align: left;
}

.sceneEditActiveCol {
    display: table-cell;
    width: 10vw;
    text-align: center;
}

.sceneEditActionCol {
    display: table-cell;
    width: 40vw;
    text-align: center;
}

.sceneEditSecondsCol {
    display: table-cell;
    width: 10vw;
    text-align: center;
}



